<div id="clothe_div">
    <img src="../../assets/nike_negra.png" id="clothe_potho" alt="">
    <h2  id="clothe_title">{{this.clothe}}</h2>
    <div id="clothe_footer">
        <div class="footer_container">
            <p class="footer_info">Descrición</p>
        </div>
        <div class="footer_container">
            <p class="footer_info">Temperatura: 2/10</p>
            <p class="footer_info">colores: negro, blanco</p>
            
            
        </div>
        
    </div>
    
</div>