.main_page{
    width: 100%;
    height: 100%;
    background-color: #bebebe;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    justify-content: center;
    z-index: -1;
}

.page_title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: regular;
    color: #333333;
}